/node_modules/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
Thumbs.db
.DS_Store
tmp/
*_old.*
*_backup.*
*.*_old
*_old
*_backup
*.*_backup

user.js
/test-results/
/playwright-report/
/playwright/.cache/
/tests-examples/
/node_modules/
package-lock.json
screenshot.png
screenshotError.png